.nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #dddde0;
  padding: 20px 30px;
  box-sizing: border-box;
  border-top: 1px solid rgba(141, 141, 141, 0.3);
}
.nav__list {
  display: flex;
  justify-content: space-between;
}
.nav__link {
  color: inherit;
  position: relative;
}
.nav__notification {
  background-color: tomato;
  width: 30px;
  height: 30px;
  display: flex;
  text-decoration: none;
  border-radius: 15px;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: 600;
  position: absolute;
  left: 20px;
  bottom: 15px;
}
